---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.home{
  background-color: darkviolet;
}
//.post-header{
  //border-color: darkviolet;
  //border: 10px solid;
  //background-color: cadetblue;
//}

