---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'dark' }}",
  "minima/initialize";

.home{
  background-color: rgb(219, 136, 255);
  border: 5px solid rgb(59, 0, 59);
  border-color: rgb(59, 0, 59);
}
.post-list-heading{
  border: 5px solid rgb(59, 0, 59);
  border-color: rgb(59, 0, 59);
}
.post-header{
  border-color: rgb(59, 0, 59);
  background-color: rgb(219, 136, 255);
  border: 5px solid rgb(59, 0, 59);
}
.post-meta{
  color: rgb(59, 0, 59);
}
h1{
  color: rgb(100, 0, 100)
}
h2{
  color: rgb(156, 0, 156)
}
h3{
  color: rgb(198, 72, 198)
}

