//---
//# Only the main Sass file needs front matter (the dashes are enough)
//---

@import
  "minima/skins/{{ site.minima.skin | default: 'dark' }}",
  "minima/initialize";

.home{
  background-color: darkviolet;
}
h1{
  color: black;
}
h2{
  color: black;
}
h3{
  color: black;
}
p{
  color:cadetblue;
}
.post-header{
  border-color: darkviolet;
  border: 10px solid;
  background-color: cadetblue;
}
.post h-entry{
  background-color: cadetblue;
}
.post-content e-content{
  color:black;
}
