---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'dark' }}",
  "minima/initialize";

.home{
  background-color: darkviolet;
}
.post-header{
  border-color: darkviolet;
  border: 10px solid;
  background-color: rgb(46, 19, 49);
}
h1{
  color: rgb(100, 0, 100)
}
h2{
  color: rgb(156, 0, 156)
}
h3{
  color: rgb(198, 72, 198)
}

